@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&display=swap');

img{
    width: 200px;
}

header {
    display: flex;
    background-color: rgb(159, 185, 235);
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

body {
    margin: 0px;
    background-image: url(/img/pattern.jpg);
    
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 20px;   
    
}

a {
    text-decoration: none;
}

main {
    background-color: rgb(255, 220, 220);
    margin: 90px 150px 40px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    text-align: center;
    font-family: 'Rampart One', cursive;
}

article {
    border-bottom: 1px solid black ;
}

footer {
    background-color: rgb(4, 0, 126);
    padding: 4px;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Rampart One', cursive;
}